# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env.*

# =========================
# Environment Variables
# =========================
.env

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/

# =========================
# Logs
# =========================
*.log
