langchain
python-dotenv
streamlit
chromadb
ipykernel
langchain-community
pypdf
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo-search
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
